/* ==========================================================================
   Game
   ========================================================================== */


/* Container
   ========================================================================== */
.game-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background: #ffb37e;
}


/* Game
   ========================================================================== */
.game {
    flex: 1;
    margin: 0 auto;

    canvas {
        transform: translate3d(0, 0, 0);
    }

    @media (min-width: 40em) {
        width: 80vw;
        height: 80vh;

        canvas {
            transition: box-shadow 2s ease;
            box-shadow: 0 0 10vw #ff7b1f;
        }
    }
}

.game--active {

    @media (min-width: 40em) {
        canvas {
            box-shadow: 0 0 10vw #ff7b1f;
        }
    }
}
