/* ==========================================================================
   Game
   ========================================================================== */


/* Container
   ========================================================================== */
.game-container {
    position: relative;

    width: 100vw;
    height: 100vh;

    background: #ffb37e;
}


/* Game
   ========================================================================== */
.game {
    margin: 0 auto;

    @media (min-width: 40em) {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 80vw;
        height: 80vh;

        box-shadow: 0 0 10vw #ff7b1f;

        transform: translate(-50%, -50%);
        transform: translate3d(-50%, -50%, 0);
    }
}

.game--active {}
